.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote {
    font-style: italic;
}

.p {
    margin-top: -2.5rem;
}
